/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */


html {
  box-sizing: border-box;
}



body {
  margin: 0;
  background: rgba(193,45,108,255);
  overflow: hidden;
}


.container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  flex-wrap: wrap;

}


.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-container button {
  margin-bottom: 100%;
}


button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}


button:hover{
  filter: brightness(95%);
}


button:active{
  transform: translateY(750%);
  transform: scale(0.98);
}

button:disabled{
  cursor: default;
  filter:brightness(30%);
}

/* Text-Box */
.text-box {
  width: 20em;
  height: auto;
  text-align: justify;
  background: rgb(0 0 0 / 50%);
  border-radius: 10px;
  padding: 30px;
  margin-top: 1%;

  
}

.text-box span {
  color: white;
  font-weight: lighter;
  font-size: 1.5em;
  font-family: monospace;
}


/* Media Query: Tablet or Smaller */


@media screen and (max-width: 891px) {
  .container {
    height: 75vh;
  }

  img {
    width: 416px;
    height: auto;
  }

  .text-box {
    width: 15em;
  }

  .text-box span {
    font-size: 1.2em;
  }

  .controls-container button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
    width: 185px;
    height: 45px;
    font-size: 1.2em;
    margin-top: -2em;
  }
  
}



@media screen and (max-width: 715px) {
  .container{
    height: 85vh;
    margin-bottom: 2em;
  }

  .text-box {
    margin-bottom: 4em;
  }

  .controls-container button {
    width: 170px;
    height: 45px;
    margin-top: -0.5em;
  }
  
}
